---
import PageContent from "../components/page-content.astro";
---

<PageContent title="About Page">
  <Fragment slot="title">About page</Fragment>
  Welcome to <span class="sm:text-2xl">Astro-playground: About page</span>
</PageContent>
