---
import { slide } from "astro:transitions";
import PageContent from "../components/page-content.astro";
import Typography from "../components/typography.astro";
---

<script is:inline data-astro-rerun>
  console.log("about");
</script>

<PageContent title="About Page">
  <Fragment slot="title">About page</Fragment>
  <span transition:animate={slide({ duration: "1s" })}> Welcome to </span>
  <Typography tag="span" class="sm:text-2xl">
    Astro-playground: About page
  </Typography>
</PageContent>
