---
import Typography from "../components/typography.astro";
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="About page">
  <Typography tag="h1" class="m-8 text-center text-6xl">About page</Typography>
  <Typography tag="p" class="m-8 text-center italic">
    Welcome to <span class="text-2xl">Astro-playground: About page</span>
  </Typography>
</MainLayout>
