---
import PageContent from "@components/page-content.astro";
---

<PageContent title="Empty Page">
  <Fragment slot="title">Empty page</Fragment>
  <div class="size-56 bg-slate-700" transition:name="square"></div>
</PageContent>
