---
import HoverButton from "@/components/hover-button.astro";
import HoverButtonReact from "@/components/islands/hover-button-r";
import PageContent from "@components/page-content.astro";
---

<PageContent title="Empty Page">
  <Fragment slot="title">Empty page</Fragment>
  <div
    class="flex size-56 flex-col items-center justify-center gap-4 bg-slate-700"
    transition:name="square"
  >
    <HoverButton />
    <HoverButtonReact />
  </div>
</PageContent>
