---
import PageContent from "@components/page-content.astro";
import HoverButton from "@/components/islands/hover-button";
---

<PageContent title="Empty Page">
  <Fragment slot="title">Empty page</Fragment>
  <div
    class="relative z-10 flex size-56 flex-col items-center justify-center gap-4 bg-slate-700"
    transition:name="square"
  >
    <HoverButton client:only="react"> Hello World </HoverButton>
  </div>
</PageContent>

<div class="absolute left-96 top-80 w-96 rotate-45 overflow-hidden bg-black">
  <img
    src="/blur-effect.svg"
    alt="svg with blur"
    class="animate-svg-playground"
  />
</div>

<div class="">
  <div id="animSvg" class="h-4 w-4 animate-svg-dash rounded-full bg-blue-500">
  </div>
  <img src="/test.svg" alt="svg path" />
</div>

<style>
  #animSvg {
    offset-path: path("M10 80 Q 77.5 10, 145 80 T 280 80");
  }
</style>
