---
import PageContent from "@components/page-content.astro";
---

<script is:inline data-astro-rerun>
  console.log("empty");
</script>

<PageContent title="Home Page">
  <Fragment slot="title">Empty page</Fragment>
  <div class="size-56 bg-slate-700" transition:name="square"></div>
</PageContent>
