---
import MainLayout from "../layouts/main-layout.astro";
import Typography from "../components/typography.astro";
---

<MainLayout title="Home page">
  <Typography tag="h1" class="m-8 text-center text-6xl">Home page</Typography>
  <Typography tag="p" class="m-8 text-center italic">
    Welcome to <span class="text-2xl">Astro-playground: home page</span>
  </Typography>
</MainLayout>
