---
import PageContent from "../components/page-content.astro";
import Typography from "../components/typography.astro";
---

<PageContent title="Home Page">
  <Fragment slot="title">Home page</Fragment>
  <Fragment slot="content">
    <span transition:animate="slide"> Welcome to </span>
    <Typography tag="span" class="sm:text-2xl">
      Astro-playground: Home page
    </Typography>
  </Fragment>
  <div class="size-10 bg-slate-700" transition:name="square"></div>
</PageContent>
