---
import PageContent from "../components/page-content.astro";
---

<PageContent title="Home Page">
  <Fragment slot="title">Home page</Fragment>
  Welcome to <span class="sm:text-2xl">Astro-playground: Home page</span>
</PageContent>
