---
import Typography from "./typography.astro";
---

<header class="flex h-16 items-center justify-between border-b px-4 sm:h-20">
  <nav class="space-x-4 sm:space-x-12">
    <a href="/">
      <Typography tag="span" class="sm:text-xl">Home</Typography>
    </a>
    <a href="/about">
      <Typography tag="span" class="sm:text-xl">About</Typography>
    </a>
  </nav>
  <div class="text-sm italic sm:text-xl">ASTRO-PLAYGROUND</div>
</header>
