---
import Typography from "./typography.astro";
---

<header class="flex h-20 items-center justify-between border-b">
  <nav>
    <a href="/">
      <Typography tag="span" class="mx-4 text-xl">Home</Typography>
    </a>
    <a href="/about">
      <Typography tag="span" class="mx-4 text-xl">About</Typography>
    </a>
  </nav>
  <div class="text-xl italic">ASTRO-PLAYGROUND</div>
</header>
