---
import { Icon } from "astro-icon/components";
---

<button class="group relative rounded-full border-2 py-2 pl-5">
  <span
    class="mr-12 overflow-clip bg-gradient-to-r from-white from-50% to-black to-50% bg-[length:200%_100%] bg-clip-text bg-[left] text-transparent delay-75 duration-300 group-hover:bg-[right]"
  >
    Hello World
  </span>
  <span class="relative">
    <Icon name="arrow-right" class="absolute right-3 top-1" />
  </span>
  <div
    class="absolute inset-1 right-1 top-1 -z-10 flex justify-end overflow-hidden rounded-full"
  >
    <span class="h-8 w-4 rounded-l-full bg-green-500"></span>
    <span class="h-8 w-0 bg-green-500 duration-500 group-hover:w-full"></span>
    <span class="h-8 w-4 rounded-r-full bg-green-500"></span>
  </div>
</button>
