---
import { type PostWithAuthor } from "@lib/data/queries";
import Typography from "./typography.astro";

interface Props {
  post: PostWithAuthor;
}

const { post } = Astro.props;
const { title, body, author } = post;
---

<div class="space-y-2 rounded-md border p-2">
  <Typography tag="h1" class="line-clamp-1 text-sm italic">{title}</Typography>
  <Typography tag="p" class="text-xs">{author}</Typography>
  <Typography tag="p" class="line-clamp-2 text-xs">{body}</Typography>
</div>
