---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/header.astro";
import Main from "../components/main.astro";
import { cn } from "../lib/utils/tailwind";

interface Props {
  title: string;
  class?: string | null | undefined;
}

const { title, class: className } = Astro.props;
---

<html lang="en" class="h-full overflow-auto">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Astro playground, learning, beginner friendly"
    />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="flex h-full flex-col overflow-auto px-4">
    <Header />
    <Main class={cn("flex flex-col items-center justify-center", className)}>
      <slot />
    </Main>
  </body>
</html>
